.collection .collection-item {
    background-color: #454544   ;
    color: #c7b9b9;
    border-radius: 5px;
    font-size: 1.2em;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}
.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 5px;
}

.update {
    color: #5a5454;
    background-color: #E2D04E;
}
.delete {
    color: #c7b9b9;
    background-color: #b24141;
}