<!-- <nav>
  <div class="nav-wrapper black">
    
      
      <a href="/"><i class="material-icons">home</i></a> 
      
      <a href="/" class="brand-logo center"></a>
      
      <a routerLink="register" class="register">Register</a> |  
      <a routerLink="login" class="login">Login</a>    
      
      
     
  </div>        
</nav> -->
<nav>
  <div class="nav-wrapper">
      <a href="/"><i class="material-icons">home</i></a>
    <a href="#" class="brand-logo">Personal Organizer</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/todo">Task</a></li>
      <li><a href="/books">Books</a></li>
      <li><a href="/idea">Idea</a></li>
    </ul>
    
  </div>
</nav>


<router-outlet></router-outlet>



